body{
    display: flex;
    flex-direction: column;
    background-color: #dfffd6;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #68965b;
    text-align: center;
    text-shadow: #ffffff 1px 0 10px;
}

nav{
    height: 50vh;
    display:flex;
    justify-content: space-around;
    height:40px;
    background-color: #477a39;
    border-radius: 5px;
    position: sticky;
    top: 0;
}
nav a{
    width:13vw;
    text-align: center;
    text-decoration: none;
    color:#000000;
}
nav a:hover{
    background-color: #276615;
}

img{
    width:300px;
    height: auto;
    border-style:hidden;
    border-width: 1vh;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* .grid{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    column-count: 1;
    display: flex;
} */

.logo{    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh 5vh 5vh;
    grid-gap: 5px;
    list-style: none;
    margin: .1px;
    padding: 0;
    column-count: 3;
    size: auto;
}

#git{
    size:auto;
}

#link{
    size:auto;
}

#resume{
    size:auto;
}

h2{
 text-align: center;
}

@media screen and (max-width: 500px){   
}